.btn.aqua,
.btn.aqua[disabled] {
    border-color: #27D7E7;
    background-color: #27D7E7;
}

.btn.aqua:hover,
.btn.aqua:focus{
    border-color: #26BAC8;
    background-color: #26BAC8;
}

.btn.aqua .service-icon{
    color: #27D7E7;
}

.btn.blue,
.btn.blue[disabled] {
    border-color: #3498DB;
    background-color: #3498DB;
}

.btn.blue:hover,
.btn.blue:focus{
    border-color: #2980B9;
    background-color: #2980B9;
}

.btn.blue .service-icon{
    color: #3498DB;
}

.btn.brown,
.btn.brown[disabled] {
    border-color: #9C8061;
    background-color: #9C8061;
}

.btn.brown:hover,
.btn.brown:focus{
    border-color: #81674B;
    background-color: #81674B;
}

.btn.brown .service-icon{
    color: #9C8061;
}

.btn.darkblue,
.btn.darkblue[disabled] {
    border-color: #4765A0;
    background-color: #4765A0;
}

.btn.darkblue:hover,
.btn.darkblue:focus{
    border-color: #324C80;
    background-color: #324C80;
}

.btn.darkblue .service-icon{
    color: #4765A0;
}

.btn.green,
.btn.green[disabled] {
    border-color: #72C02C;
    background-color: #72C02C;
}

.btn.green:hover,
.btn.green:focus{
    border-color: #5FB611;
    background-color: #5FB611;
}

.btn.green .service-icon{
    color: #72C02C;
}

.btn.grey,
.btn.grey[disabled] {
    border-color: #95A5A6;
    background-color: #95A5A6;
}

.btn.grey:hover,
.btn.grey:focus{
    border-color: #7F8C8D;
    background-color: #7F8C8D;
}

.btn.grey .service-icon{
    color: #95A5A6;
}

.btn.lightgreen,
.btn.lightgreen[disabled] {
    border-color: #79D5B3;
    background-color: #79D5B3;
}

.btn.lightgreen:hover,
.btn.lightgreen:focus{
    border-color: #59B795;
    background-color: #59B795;
}

.btn.lightgreen .service-icon{
    color: #79D5B3;
}

.btn.orange,
.btn.orange[disabled] {
    border-color: #E67E22;
    background-color: #E67E22;
}

.btn.orange:hover,
.btn.orange:focus{
    border-color: #D35400;
    background-color: #D35400;
}

.btn.orange .service-icon{
    color: #E67E22;
}

.btn.purple,
.btn.purple[disabled] {
    border-color: #9B6BCC;
    background-color: #9B6BCC;
}

.btn.purple:hover,
.btn.purple:focus{
    border-color: #814FB5;
    background-color: #814FB5;
}

.btn.purple .service-icon{
    color: #9B6BCC;
}

.btn.red,
.btn.red[disabled] {
    border-color: #E74C3C;
    background-color: #E74C3C;
}

.btn.red:hover,
.btn.red:focus{
    border-color: #C0392B;
    background-color: #C0392B;
}

.btn.red .service-icon{
    color: #E74C3C;
}

